@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Light Collection */
  --scrollbar: rgba(96, 115, 73, 0.4);
  --code-bg: #f4f5ea;
  --code-text: #607349;
  --bg-hero: #fffef4;
  --bg-dot: #9dbd77;
  --bg-about: #f4f5ea;
  --bg-skills: #fbfaf6;
  --bg-notes-header: #f4f5ea;
  --bg-notes-content: #fbfaf6;
  --bg-notes-list-hover: rgba(244, 245, 234, 0.8);
  --bg-contact-card: #fffff7;
  --text-hero-main-typo: #607349;
  --text-hero-p: #4f4f4f;
  --text-hero-scroll-ui: #707070;
  --text-section-title: #707070;
  --text-about-title: #607349;
  --text-about-body: #1d1d1d;
  --text-about-sub-title: #465738;
  --text-about-time: #4f4f4f;
  --text-about-name: #1d1d1d;
  --text-about-detail: #465738;
  --text-about-org: #4f4f4f;
  --stroke: #d3d3d3;
  --text-skills-dt: #465738;
  --text-skills-dd: #4f4f4f;
  --bg-check: #f3f3f3;
  --text-projects-category: #575757;
  --text-projects-time: #707070;
  --text-projects-title: #3d3d3d;
  --bg-text-panel: rgba(255, 255, 255, 0.3);
  --text-notes-body: #4f4f4f;
  --text-notes-time: #3d3d3d;
  --text-notes-time-hover: #465738;
  --text-notes-title: #3d3d3d;
  --text-notes-title-hover: #465738;
  --text-notes-excerpt: #4f4f4f;
  --text-notes-excerpt-hover: #465738;
  --text-contact-status: #465738;
  --text-contact-title: #4f4f4f;
  --text-contact-description: #707070;
  --text-contact-divider: #c0ceaf;
  --text-contact-mail: #707070;
  --text-contact-mail-hover: #607349;
  --text-footer: #707070;
  --text-btn-link: #3d3d3d;
  --bg-projects: #ffffff;
  --text-contact-btn-copy: #e0e6d3;
  --text-projects-back: #707070;
  --text-projects-back-hover: #3d3d3d;
  --text-gnb-btn: #575757;
  --text-gnb-btn-hover: #1d1d1d;
  --text-gnb-logo: #575757;
  --bg-more-projects: #fdfdfa;
  --bg-more-projects-link-hover: rgba(244, 245, 234, 0.5);
  --text-projects-detail-more-projects-link: #707070;
  --text-projects-detail-more-projects-link-hover: #465738;
  --text-projects-detail-more-projects-title: #465738;
  --bg-header: rgba(255, 255, 255, 0.3);
  --bg-gnb-btn-hover: rgba(221, 221, 221, 0.3);
  --text-projects-detail-title: #1d1d1d;
  --text-projects-detail-eyebrow: #707070;
  --text-projects-detail-body: #4f4f4f;
  --text-about-divider: #d8d8d8;
  --tag-design-bg: #f6ebf5;
  --tag-design-text: #662661;
  --tag-design-span: rgba(102, 38, 97, 0.75);
  --tag-publishing-bg: #dde9f4;
  --tag-publishing-text: #1c2a70;
  --tag-publishing-span: rgba(28, 42, 112, 0.75);
  --tag-figma-bg: #eeeeee;
  --tag-figma-text: #2d2d2d;
  --tag-design-system-bg: #e8efdf;
  --tag-design-system-text: #273f18;
  --tag-javascript-bg: #f6f3da;
  --tag-javascript-text: #573724;
  --tag-jquery-bg: #d8f4f1;
  --tag-jquery-text: #154368;
  --tag-scss-bg: #f5e9ea;
  --tag-scss-text: #6d2c3c;
  --tag-websquare-bg: #e9e9ff;
  --tag-websquare-text: #2d226b;
}

[data-theme=dark] {
  --scrollbar: rgba(162, 186, 134, 0.5);
  --code-bg: #2d2d2f;
  --code-text: #a2ba86;
  --text-btn-link: #ededed;
  --bg-about: #2b2b2e;
  --text-contact-btn-copy: #3b3e35;
  --text-contact-mail-hover: #c4daa9;
  --text-contact-divider: #767f68;
  --bg-check: #1a1a1c;
  --text-notes-time-hover: #c4daa9;
  --text-projects-detail-more-projects-link-hover: #c4daa9;
  --bg-notes-list-hover: rgba(45, 45, 47, 0.4);
  --text-notes-title-hover: #c4daa9;
  --bg-dot: #3e4832;
  --bg-hero: #222224;
  --text-skills-dt: #c4daa9;
  --text-about-divider: #484848;
  --text-contact-description: #a7a7a7;
  --text-about-org: #c8c8c8;
  --text-hero-scroll-ui: #9d9d9d;
  --text-about-detail: #c4daa9;
  --text-about-body: #fdfdfd;
  --text-projects-detail-body: #d4d4d4;
  --text-footer: #a7a7a7;
  --text-projects-back: #a7a7a7;
  --text-projects-category: #d3d3d3;
  --bg-skills: #1d1d1f;
  --text-projects-detail-more-projects-title: #a2ba86;
  --text-about-time: #c8c8c8;
  --text-contact-title: #c8c8c8;
  --text-contact-status: #c4daa9;
  --text-notes-time: #c8c8c8;
  --text-notes-body: #c8c8c8;
  --text-hero-p: #d4d4d4;
  --bg-gnb-btn-hover: rgba(85, 85, 87, 0.3);
  --text-projects-detail-title: #ededed;
  --text-notes-title: #ededed;
  --text-projects-detail-eyebrow: #a7a7a7;
  --text-about-name: #fdfdfd;
  --text-about-title: #a2ba86;
  --text-hero-main-typo: #a2ba86;
  --text-notes-excerpt: #b9b9b9;
  --text-gnb-btn-hover: #fdfdfd;
  --text-projects-detail-more-projects-link: #a7a7a7;
  --text-gnb-btn: #c6c6c6;
  --text-gnb-logo: #c6c6c6;
  --bg-header: rgba(29, 29, 31, 0.3);
  --text-contact-mail: #a7a7a7;
  --text-projects-back-hover: #ededed;
  --text-section-title: #a7a7a7;
  --bg-notes-header: #2b2b2e;
  --text-skills-dd: #ededed;
  --text-projects-time: #a7a7a7;
  --bg-projects: #131315;
  --text-notes-excerpt-hover: #c4daa9;
  --text-about-sub-title: #c4daa9;
  --bg-text-panel: rgba(29, 29, 31, 0.3);
  --bg-contact-card: #222224;
  --bg-notes-content: #1d1d1f;
  --bg-more-projects-link-hover: rgba(52, 52, 54, 0.5);
  --bg-more-projects: #1a1a1c;
  --text-projects-title: #efefef;
  --stroke: #4d4d4f;
  --tag-design-bg: #362233;
  --tag-design-text: rgba(246, 235, 245, 0.85);
  --tag-design-span: rgba(246, 235, 245, 0.6);
  --tag-publishing-bg: #1f2540;
  --tag-publishing-text: rgba(221, 233, 244, 0.85);
  --tag-publishing-span: rgba(221, 233, 244, 0.6);
  --tag-figma-bg: #282827;
  --tag-figma-text: rgba(238, 238, 238, 0.85);
  --tag-design-system-bg: #232a1d;
  --tag-design-system-text: rgba(232, 239, 223, 0.85);
  --tag-javascript-bg: #312721;
  --tag-javascript-text: rgba(246, 243, 218, 0.85);
  --tag-jquery-bg: #1d2b35;
  --tag-jquery-text: rgba(216, 244, 241, 0.85);
  --tag-scss-bg: #382428;
  --tag-scss-text: rgba(245, 233, 234, 0.85);
  --tag-websquare-bg: #292254;
  --tag-websquare-text: rgba(233, 233, 255, 0.85);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-hero);
  scrollbar-color: var(--scrollbar) transparent;
}

body {
  font-family: "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
}

code {
  font-family: inherit;
  line-height: inherit;
  font-weight: 600;
  padding: 0 6px;
  border-radius: 6px;
  background-color: var(--code-bg);
  color: var(--code-text);
}

::-moz-selection {
  background-color: var(--text-hero-main-typo);
  color: var(--bg-projects);
}

::selection {
  background-color: var(--text-hero-main-typo);
  color: var(--bg-projects);
}

.blind {
  display: inline-block;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}

.mobile-br {
  display: none;
}

.detail-bt {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: var(--text-btn-link);
  position: relative;
  margin-bottom: 6px;
}
.detail-bt::after {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.detail-bt:hover::after {
  transform: scaleX(1);
}

@media (max-width: 1024px) {
  .detail-bt {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 4px;
  }
  .detail-bt img {
    width: 20px;
  }
  .detail-bt::after {
    bottom: -4px;
  }
}
@media (max-width: 767px) {
  .detail-bt {
    font-size: 16px;
    line-height: 26px;
  }
  .detail-bt img {
    width: 16px;
  }
}
.inner {
  width: 1360px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
figure,
blockquote {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.montserrat {
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.leckerli-one {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
}

.bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.header {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--stroke);
  background: var(--bg-header);
  backdrop-filter: blur(40px);
  z-index: 100;
}
.header__inner {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 64px;
}
.header__logo {
  font-size: 24px;
  line-height: 64px;
  color: var(--text-gnb-logo);
}
.header__nav {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.header__nav-list {
  display: flex;
  gap: 16px;
  color: var(--text-gnb-btn);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.header__nav-list li {
  line-height: 36px;
  border-radius: 13px;
}
.header__nav-list li:hover {
  color: var(--text-gnb-btn-hover);
  background-color: var(--bg-gnb-btn-hover);
}
.header__nav-list li a {
  padding: 0 12px;
  display: inline-block;
}
.header__actions {
  display: flex;
}
.header__theme-toggle {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background: transparent url(../images/common/theme-light.svg) center no-repeat;
}
.header__theme-toggle:hover {
  background: var(--bg-gnb-btn-hover) url(../images/common/theme-light-hover.svg) center no-repeat;
}
.header__menu-toggle {
  display: none;
  width: 36px;
  height: 36px;
  position: relative;
  border-radius: 12px;
  background: transparent url(../images/common/gnb-light.svg) center no-repeat;
}
.header__menu-toggle:hover {
  background: var(--bg-gnb-btn-hover) url(../images/common/gnb-light-hover.svg) center no-repeat;
}

[data-theme=dark] .header__theme-toggle {
  background: url(../images/common/theme-dark.svg) center no-repeat;
}
[data-theme=dark] .header__theme-toggle:hover {
  background: var(--bg-gnb-btn-hover) url(../images/common/theme-dark-hover.svg) center no-repeat;
}
[data-theme=dark] .header__menu-toggle {
  background: transparent url(../images/common/gnb-dark.svg) center no-repeat;
}
[data-theme=dark] .header__menu-toggle:hover {
  background: var(--bg-gnb-btn-hover) url(../images/common/gnb-dark-hover.svg) center no-repeat;
}
[data-theme=dark] .header.is-open .header__menu-toggle {
  background: transparent url(../images/common/gnb-close-dark.svg) center no-repeat;
}
[data-theme=dark] .header.is-open .header__menu-toggle:hover {
  background: var(--bg-gnb-btn-hover) url(../images/common/gnb-close-dark-hover.svg) center no-repeat;
}

@media (max-width: 1024px) {
  .header__inner {
    padding: 0 32px;
  }
  .header__logo {
    font-size: 21px;
  }
  .header__nav {
    position: static;
    left: auto;
    transform: none;
  }
  .header__nav-list {
    gap: 8px;
  }
}
@media (max-width: 767px) {
  .header {
    height: 48px;
  }
  .header__inner {
    padding: 0 24px;
    height: 48px;
  }
  .header__logo {
    font-size: 18px;
    line-height: 48px;
  }
  .header__nav {
    display: none;
    position: static;
    left: auto;
    transform: none;
    gap: 12px;
  }
  .header__theme-toggle {
    width: 36px;
    height: 36px;
    background-size: 24px 24px;
  }
  .header__theme-toggle:hover {
    background-size: 24px 24px;
  }
  .header__menu-toggle {
    display: block;
  }
  .header.is-open {
    height: 100vh;
    border: none;
  }
  .header.is-open .header__menu-toggle {
    background: transparent url(../images/common/gnb-close-light.svg) center no-repeat;
  }
  .header.is-open .header__menu-toggle:hover {
    background: var(--bg-gnb-btn-hover) url(../images/common/gnb-close-light-hover.svg) center no-repeat;
  }
  .header.is-open .header__nav {
    display: block;
    width: 100vw;
    height: calc(100vh - 48px);
    position: absolute;
    left: 0;
    top: 48px;
  }
  .header.is-open .header__nav-list {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
  }
  .header.is-open .header__nav-list li {
    line-height: 64px;
    border-radius: 0;
    transition: letter-spacing 0.3s;
  }
  .header.is-open .header__nav-list li:hover {
    letter-spacing: 8px;
  }
}
.inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1440px) {
  .inner {
    width: calc(100vw - 80px);
    gap: 72px;
  }
}
@media (max-width: 767px) {
  .inner {
    width: calc(100vw - 64px);
    gap: 60px;
  }
}
@media (max-width: 400px) {
  .inner {
    width: calc(100vw - 36px);
  }
}
.section-title {
  color: var(--text-section-title);
  font-size: 28px;
  line-height: 28px;
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .section-title {
    font-size: 24px;
    line-height: 24px;
  }
}
.hero {
  width: 100%;
  padding-top: 300px;
  padding-bottom: 80px;
  text-align: center;
  background-color: var(--bg-hero);
  background-image: radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px), radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px);
  background-size: 9px 63px, 63px 9px;
  background-repeat: repeat;
}
.hero__title {
  position: absolute;
}
.hero__visual {
  margin-bottom: 200px;
}
.hero__greeting {
  font-size: 24px;
  line-height: 48px;
  font-weight: 400;
  color: var(--text-hero-p);
  margin-bottom: 100px;
}
.hero__greeting span {
  display: block;
}
.hero__scroll {
  color: var(--text-hero-scroll-ui);
}
.hero__scroll span {
  display: block;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
}
.hero__scroll img {
  animation: scrollMove 1s ease-in-out infinite;
}

@keyframes scrollMove {
  0%, 100% {
    transform: translateY(6px);
  }
  50% {
    transform: translateY(0);
  }
}
@media (max-width: 1024px) {
  .hero {
    padding-top: 240px;
  }
  .hero__visual {
    margin-bottom: 120px;
  }
  .hero__visual img {
    width: 90vw;
  }
  .hero__greeting {
    font-size: 22px;
    line-height: 44px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding-top: 200px;
  }
  .hero__visual {
    margin-bottom: 80px;
  }
  .hero__greeting {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 80px;
  }
  .hero__scroll span {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .hero__scroll img {
    width: 16px;
  }
  @keyframes scrollMove {
    0%, 100% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(0px);
    }
  }
}
@media (max-width: 600px) {
  .hero__greeting {
    line-height: 28px;
  }
  .hero__greeting span {
    margin-bottom: 20px;
  }
  .hero .mobile-br {
    display: block;
  }
}
.about {
  padding: 200px 0;
  background-color: var(--bg-about);
  display: flex;
  justify-content: center;
}
.about .divider {
  width: 100%;
  height: 1px;
  margin: 0;
  border: 0;
  background-color: var(--text-about-divider);
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.about__headline {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: var(--text-about-title);
}
.about__description {
  font-size: 22px;
  line-height: 48px;
  font-weight: 400;
  color: var(--text-about-body);
}
.about__history {
  width: 100%;
  padding: 48px;
  border-radius: 13px;
  background-color: var(--bg-text-panel);
  border: 1px solid var(--stroke);
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.about__history dl {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.about__history-title {
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--text-about-sub-title);
  margin-bottom: 24px;
}
.about__history-item {
  display: flex;
  gap: 24px;
  line-height: 32px;
}
.about__history-item dt {
  font-variant-numeric: tabular-nums;
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: var(--text-about-time);
}
.about__history-item strong {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-about-name);
  margin-right: 24px;
}
.about__history-item .about__history-note {
  display: inline;
}
.about__history-item span {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-about-detail);
}
.about__history-item .org {
  color: var(--text-about-org);
  margin-left: 8px;
}
.about__history-item .org::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: var(--stroke);
  margin-right: 8px;
  display: inline-block;
}

@media (max-width: 1024px) {
  .about__content {
    gap: 40px;
  }
  .about__headline {
    font-size: 40px;
    line-height: 40px;
  }
  .about__description {
    font-size: 20px;
    line-height: 40px;
  }
  .about__history {
    padding: 32px;
    gap: 32px;
  }
  .about__history dl {
    gap: 8px;
  }
  .about__history-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .about__history-item {
    gap: 20px;
  }
  .about__history-item dt {
    font-size: 16px;
  }
  .about__history-item strong {
    font-size: 19px;
    margin-right: 16px;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 160px 0;
  }
  .about .about__history-note {
    display: none;
  }
  .about .mobile-br {
    display: block;
  }
}
@media (max-width: 625px) {
  .about__content {
    gap: 24px;
  }
  .about__headline {
    font-size: 32px;
    line-height: 48px;
  }
  .about__description {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.03em;
  }
  .about__history {
    padding: 0;
    gap: 60px;
    border: none;
    background-color: transparent;
  }
  .about__history .divider {
    display: none;
  }
  .about__history dl {
    gap: 24px;
  }
  .about__history-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .about__history-item {
    flex-direction: column;
    gap: 4px;
    padding: 0 16px;
    border-left: 4px solid var(--text-contact-divider);
    letter-spacing: -0.02em;
  }
  .about__history-item dt {
    font-variant-numeric: normal;
  }
  .about__history-item strong {
    font-size: 18px;
    line-height: 24px;
    display: block;
  }
}
.skills {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  background-color: var(--bg-skills);
  background-image: radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px), radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px);
  background-size: 9px 63px, 63px 9px;
  background-repeat: repeat;
}
.skills__content {
  width: 100%;
  padding: 48px;
  border-radius: 13px;
  border: 1px solid var(--stroke);
  background-color: var(--bg-text-panel);
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  text-align: center;
}
.skills__content .divider {
  width: 540px;
  height: 1px;
  margin: 0;
  border: 0;
  background-color: var(--stroke);
}
.skills__item dt {
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: var(--text-skills-dt);
  margin-bottom: 32px;
}
.skills__item dd span {
  display: block;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: var(--text-skills-dd);
}
.skills__tools {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 31px;
}

@media (max-width: 1024px) {
  .skills__item dt {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 28px;
  }
  .skills__item dd {
    display: flex;
    flex-direction: column;
  }
  .skills__item dd span {
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .skills {
    padding: 160px 0;
  }
  .skills__content {
    padding: 32px;
    gap: 32px;
  }
  .skills__item .mobile-br {
    display: block;
  }
  .skills__item dd {
    gap: 24px;
    letter-spacing: -0.03em;
  }
  .skills__tools {
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }
  .skills__tools li {
    flex: 1;
  }
  .skills__tools img {
    width: 28px;
  }
  .skills .divider {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .skills__content {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    border: none;
  }
  .skills__item {
    width: 100%;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .skills__item .mobile-br {
    display: none;
  }
  .skills__item dt {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  .skills__item dd {
    width: 100%;
    gap: 16px;
    letter-spacing: -0.03 em;
  }
  .skills__item dd span {
    text-align: left;
    display: block;
    width: 100%;
    padding: 0 16px;
    border-left: 4px solid var(--text-contact-divider);
  }
  .skills__tools img {
    width: 24px;
  }
  .skills .divider {
    display: none;
  }
}
.projects {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  background-color: var(--bg-projects);
  background-image: linear-gradient(to right, var(--bg-check) 1px, transparent 1px), linear-gradient(to bottom, var(--bg-check) 1px, transparent 1px);
  background-size: 16px 16px;
}
.projects__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  width: 100%;
}
.projects__content li {
  flex: 1;
  min-width: 0;
  position: relative;
  isolation: isolate;
  transition: transform 0.2s;
}
.projects__content li:hover {
  transform: translateY(-20px);
}
.projects__content li a {
  display: block;
}
.projects__content li::before {
  transition: background-color 0.3s;
}
.projects__content li:nth-child(1):hover::before {
  background-color: rgba(225, 236, 250, 0.5);
}
.projects__content li:nth-child(2):hover::before {
  background-color: rgba(246, 235, 236, 0.5);
}
.projects__content li:nth-child(3):hover::before {
  background-color: rgba(232, 233, 241, 0.5);
}
.projects__content li:nth-child(4):hover::before {
  background-color: rgba(229, 235, 237, 0.5);
}
.projects__content li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  margin: -16px;
  display: block;
  z-index: -1;
  pointer-events: none;
}
.projects__content img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 13px;
  border: 1px solid var(--stroke);
  margin-bottom: 24px;
}
.projects__info h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 700;
  color: var(--text-projects-title);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}
.projects__meta {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-projects-category);
  margin-bottom: 12px;
}
.projects__meta .duration {
  font-family: "Montserrat", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--text-projects-time);
  margin-left: 8px;
}
.projects__meta .duration::before {
  content: "";
  width: 1px;
  height: 12px;
  margin-right: 8px;
  background-color: var(--stroke);
  display: inline-block;
}

[data-theme=dark] .projects__content li:nth-child(1):hover::before {
  background-color: rgba(225, 236, 250, 0.2);
}
[data-theme=dark] .projects__content li:nth-child(2):hover::before {
  background-color: rgba(246, 235, 236, 0.2);
}
[data-theme=dark] .projects__content li:nth-child(3):hover::before {
  background-color: rgba(232, 233, 241, 0.2);
}
[data-theme=dark] .projects__content li:nth-child(4):hover::before {
  background-color: rgba(229, 235, 237, 0.2);
}

@media (max-width: 1100px) {
  .projects__content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 80px;
  }
  .projects__info h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .projects__meta {
    font-size: 18px;
    margin-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .projects {
    padding: 160px 0;
  }
}
@media (max-width: 600px) {
  .projects__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .projects__content li:hover:hover {
    transform: translateY(0);
  }
  .projects__content li::before {
    margin: -12px;
    border-radius: 18px;
  }
  .projects__content img {
    margin-bottom: 20px;
  }
  .projects__meta {
    font-size: 16px;
    margin-bottom: 4px;
  }
}
.notes {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.notes .inner {
  flex-direction: row;
  gap: 0;
}
.notes__header {
  background-color: var(--bg-notes-header);
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  justify-content: center;
  color: var(--text-notes-body);
  font-size: 20px;
  line-height: 40px;
  width: 40%;
  position: relative;
}
.notes__header::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-color: var(--bg-notes-header);
  z-index: -1;
}
.notes__content {
  background-color: var(--bg-notes-content);
  padding: 120px 0 120px 64px;
  width: 60%;
  position: relative;
}
.notes__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: var(--bg-notes-content);
  z-index: -1;
}
.notes__content > li {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--stroke);
}
.notes__content > li::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: -1;
  pointer-events: none;
  background-color: var(--bg-notes-list-hover);
  transform: scaleY(0);
  transform-origin: center;
  transition: transform 0.3s;
}
.notes__content > li a {
  padding: 24px;
}
.notes__content > li time {
  display: block;
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--text-notes-time);
}
.notes__content > li strong {
  display: block;
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: var(--text-notes-title);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notes__content > li span {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: var(--text-notes-excerpt);
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.notes__content > li:hover::before {
  transform: scaleY(1);
}
.notes__content > li:hover time {
  color: var(--text-notes-time-hover);
}
.notes__content > li:hover strong {
  color: var(--text-notes-title-hover);
}
.notes__content > li:hover span {
  color: var(--text-notes-excerpt-hover);
}

@media (max-width: 1400px) {
  .notes .inner {
    flex-direction: column;
    width: calc(100vw - 200px);
  }
  .notes__header {
    padding: 120px 0;
    width: 100%;
  }
  .notes__header::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .notes__content {
    padding: 120px 0;
    width: 100%;
  }
  .notes__content::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .notes__content > li {
    gap: 6px;
  }
  .notes__content > li a {
    padding: 18px;
  }
}
@media (max-width: 767px) {
  .notes .inner {
    width: calc(100vw - 80px);
  }
  .notes__header {
    font-size: 16px;
  }
  .notes__content > li a {
    padding: 12px;
  }
  .notes__content > li time {
    font-size: 15px;
    line-height: 24px;
  }
  .notes__content > li strong {
    font-size: 18px;
    line-height: 28px;
  }
  .notes__content > li span {
    font-size: 15px;
    line-height: 28px;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }
}
@media (max-width: 400px) {
  .notes .inner {
    width: calc(100vw - 36px);
  }
}
.contact-area {
  padding-top: 200px;
  background-color: var(--bg-hero);
  background-image: radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px), radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px);
  background-size: 9px 63px, 63px 9px;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}
.contact-area .inner {
  gap: 200px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.contact__content {
  background-color: var(--bg-contact-card);
  border-radius: 13px;
  border: 1px solid var(--stroke);
  padding: 60px;
  display: flex;
  flex-direction: column;
}
.contact__status {
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-contact-status);
  margin-bottom: 24px;
}
.contact__title {
  font-size: 42px;
  line-height: 64px;
  color: var(--text-contact-title);
  margin-bottom: 24px;
}
.contact__description {
  font-size: 20px;
  line-height: 24px;
  color: var(--text-contact-description);
  margin: 0;
  margin-bottom: 36px;
}
.contact hr {
  width: 40px;
  height: 3px;
  background-color: var(--text-contact-divider);
  margin: 0;
  margin-bottom: 36px;
  border: 0;
}
.contact__email {
  display: flex;
  gap: 12px;
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 26px;
  line-height: 40px;
  font-weight: 500;
  color: var(--text-contact-mail);
  align-items: center;
}
.contact__email a:hover {
  color: inherit;
  text-decoration: underline;
}
.contact__copy {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  background-image: url(../images/main/copy.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--text-contact-btn-copy);
}
.contact__copy:hover {
  background-color: var(--text-contact-btn-copy);
  background-image: url(../images/main/copy-hover.svg);
}
.contact__copy-message {
  font-size: 18px;
  line-height: 18px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--bg-notes-list-hover);
  color: var(--text-notes-title-hover);
}
.contact__copy-message:empty {
  display: none;
}

[data-theme=dark] .contact__copy {
  background-image: url(../images/main/copy-dark.svg);
}
[data-theme=dark] .contact__copy:hover {
  background-image: url(../images/main/copy-dark-hover.svg);
}

footer {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-footer);
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .contact {
    gap: 60px;
  }
  .contact__content {
    padding: 32px;
  }
  .contact__status {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .contact__title {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .contact__description {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 40px;
    letter-spacing: -0.03em;
  }
  .contact hr {
    margin-bottom: 36px;
  }
  .contact__email {
    font-size: 20px;
    line-height: 32px;
    gap: 8px;
  }
  .contact__copy {
    width: 32px;
    height: 32px;
    background-size: 24px 24px;
    border-radius: 8px;
    flex-wrap: wrap;
  }
  .contact__copy:hover {
    background-size: 24px 24px;
  }
  .contact__copy-message {
    font-size: 14px;
    padding: 6px;
  }
}
@media (max-width: 490px) {
  .contact__content {
    position: relative;
  }
  .contact__copy-message {
    font-size: 16px;
    padding: 0;
    background-color: transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -72px;
    width: -moz-max-content;
    width: max-content;
  }
}
html.page-project {
  background-color: var(--bg-projects);
  background-image: linear-gradient(to right, var(--bg-check) 1px, transparent 1px), linear-gradient(to bottom, var(--bg-check) 1px, transparent 1px);
  background-size: 16px 16px;
}

.project-detail {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-detail .inner {
  padding: 200px 0;
}
.project-detail .inner, .project-detail__content {
  gap: 160px;
}
.project-detail__back {
  align-self: flex-start;
  font-family: "SUIT", sans-serif;
  font-feature-settings: "ss18" on;
  font-weight: 600;
  display: inline-flex;
  gap: 8px;
  font-size: 16px;
  line-height: 40px;
  color: var(--text-projects-back);
  margin: 16px 0 16px 64px;
}
.project-detail__back span {
  font-family: "Montserrat", "Poppins", "SUIT", "Pretendard", "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.project-detail__back:hover {
  color: var(--text-projects-back-hover);
}
.project-detail__overview {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 64px;
  align-items: start;
}
.project-detail__thumbnail {
  border-radius: 26px;
  border: 1px solid var(--stroke);
  aspect-ratio: 1/1;
  overflow: hidden;
}
.project-detail__thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.project-detail__label {
  display: inline-block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--text-projects-detail-eyebrow);
  margin-bottom: 16px;
}
.project-detail__title {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 24px;
  color: var(--text-projects-detail-title);
}
.project-detail__meta {
  display: flex;
  gap: 12px;
  margin-bottom: 48px;
  flex-wrap: wrap;
}
.project-detail__meta li {
  padding: 4px 12px;
  border-radius: 10px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 500;
}
.project-detail__meta li span {
  margin-left: 6px;
}
.project-detail__meta .tag-design {
  background-color: var(--tag-design-bg);
  color: var(--tag-design-text);
}
.project-detail__meta .tag-design span {
  color: var(--tag-design-span);
}
.project-detail__meta .tag-publishing {
  background-color: var(--tag-publishing-bg);
  color: var(--tag-publishing-text);
}
.project-detail__meta .tag-publishing span {
  color: var(--tag-publishing-span);
}
.project-detail__meta .tag-figma {
  background-color: var(--tag-figma-bg);
  color: var(--tag-figma-text);
}
.project-detail__meta .tag-design-system {
  background-color: var(--tag-design-system-bg);
  color: var(--tag-design-system-text);
}
.project-detail__meta .tag-javascript {
  background-color: var(--tag-javascript-bg);
  color: var(--tag-javascript-text);
}
.project-detail__meta .tag-jquery {
  background-color: var(--tag-jquery-bg);
  color: var(--tag-jquery-text);
}
.project-detail__meta .tag-scss {
  background-color: var(--tag-scss-bg);
  color: var(--tag-scss-text);
}
.project-detail__meta .tag-websquare {
  background-color: var(--tag-websquare-bg);
  color: var(--tag-websquare-text);
}
.project-detail__summary {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: var(--text-projects-detail-body);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-detail__content {
  display: flex;
  flex-direction: column;
}
.project-detail__item {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.project-detail__item img,
.project-detail__item video {
  border-radius: 26px;
  border: 1px solid var(--stroke);
}
.project-detail__summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project-detail__more {
  background-color: var(--bg-projects);
  border-radius: 26px;
  border: 1px solid var(--stroke);
  overflow: hidden;
}
.project-detail__more .project-detail__back {
  margin: 20px 0 20px 32px;
}
.project-detail__more-content {
  background-color: var(--bg-more-projects);
  padding: 32px;
  border-bottom: 1px solid var(--stroke);
}
.project-detail__more-title {
  padding: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-projects-detail-more-projects-title);
  border-bottom: 2px solid var(--text-projects-detail-more-projects-title);
}
.project-detail__more-list {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}
.project-detail__more-list li {
  border-bottom: 1px solid var(--stroke);
}
.project-detail__more-list a {
  position: relative;
  padding: 24px 16px;
  display: block;
  color: var(--text-projects-detail-more-projects-link);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: background-color 0.3s, color 0.3s;
}
.project-detail__more-list a:hover {
  background-color: var(--bg-more-projects-link-hover);
  color: var(--text-projects-detail-more-projects-link-hover);
}

@media (max-width: 1528px) {
  .project-detail__back {
    margin-left: 40px;
  }
}
@media (max-width: 1440px) {
  .project-detail__overview {
    width: 60vw;
    min-width: 703px;
    grid-template-columns: 1fr;
    align-self: center;
    gap: 48px;
  }
  .project-detail__title {
    font-size: 48px;
    line-height: 64px;
  }
}
@media (max-width: 1024px) {
  .project-detail .inner {
    padding: 120px 0;
  }
  .project-detail .inner, .project-detail__content {
    gap: 120px;
  }
  .project-detail__overview {
    gap: 32px;
  }
  .project-detail__label {
    font-size: 22px;
  }
  .project-detail__title {
    font-size: 32px;
    line-height: 48px;
  }
  .project-detail__meta {
    margin-bottom: 32px;
  }
  .project-detail__meta li {
    font-size: 13px;
    line-height: 20px;
    padding: 4px 10px;
    border-radius: 8px;
  }
  .project-detail__summary {
    font-size: 18px;
    line-height: 28px;
  }
  .project-detail__thumbnail, .project-detail__item img, .project-detail__item video, .project-detail__more {
    border-radius: 18px;
  }
}
@media (max-width: 767px) {
  .project-detail {
    padding-top: 48px;
  }
  .project-detail .inner {
    padding: 80px 0;
  }
  .project-detail .inner, .project-detail__content {
    gap: 80px;
  }
  .project-detail__overview {
    width: 100%;
    min-width: auto;
    gap: 64px;
  }
  .project-detail__back {
    margin-left: 24px;
    font-size: 14px;
  }
}
@media (max-width: 520px) {
  .project-detail__label {
    font-size: 20px;
  }
  .project-detail__title {
    font-size: 32px;
    line-height: 40px;
  }
  .project-detail__meta {
    margin-bottom: 32px;
  }
  .project-detail__meta li {
    font-size: 12px;
    line-height: 20px;
    padding: 2px 8px;
    border-radius: 8px;
  }
  .project-detail__summary {
    font-size: 16px;
    line-height: 26px;
  }
  .project-detail__thumbnail, .project-detail__item img, .project-detail__item video, .project-detail__more {
    border-radius: 12px;
  }
  .project-detail__thumbnail .project-detail__back, .project-detail__item img .project-detail__back, .project-detail__item video .project-detail__back, .project-detail__more .project-detail__back {
    margin: 12px 0 12px 20px;
  }
  .project-detail__item {
    gap: 48px;
  }
  .project-detail__more-content {
    padding: 8px 20px 20px 20px;
  }
  .project-detail__more-title {
    font-size: 14px;
  }
  .project-detail__more-list {
    font-size: 16px;
    line-height: 32px;
  }
  .project-detail__more-list li a {
    padding: 14px 16px;
  }
}
.hero {
  overflow: clip;
}
.hero__visual {
  opacity: 0;
  transform: translateY(480px);
}
.hero.is-visible .hero__visual {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.8s ease, transform 0.8s ease;
}
.hero__greeting > span {
  opacity: 0;
  transform: translateY(80px);
}
.hero.is-visible .hero__greeting > span {
  transition: opacity 1.8s ease, transform 0.8s ease;
}
.hero.is-visible .hero__greeting > span:nth-child(1) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
.hero.is-visible .hero__greeting > span:nth-child(2) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}
.hero.is-visible .hero__greeting > span:nth-child(3) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}
.hero__scroll {
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 1.8s ease, transform 0.8s ease;
}
.hero.is-visible .hero__scroll {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.section-title {
  opacity: 0;
  transform: translateY(80px);
}

.section-title.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.8s ease, transform 0.8s ease;
}

.detail-bt {
  opacity: 0;
  transform: translateY(120px);
}

.detail-bt.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.8s ease, transform 0.8s ease;
}

.about__headline, .about__description {
  opacity: 0;
  transform: translateY(120px);
}
.about__headline.is-visible, .about__description.is-visible {
  opacity: 1;
  transform: translateY(0) translateX(0);
}
.about__headline.is-visible {
  transition: opacity 1.8s ease, transform 0.8s ease;
}
.about__description.is-visible {
  transition: opacity 1.8s ease, transform 1.2s ease;
}

.about__history section,
.skills__content section {
  opacity: 0;
  transform: translateY(200px);
}
.about__history hr,
.skills__content hr {
  transform: scaleX(0);
  transform-origin: center;
}

.about__history.is-visible section,
.skills__content.is-visible section {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}
.about__history.is-visible hr,
.skills__content.is-visible hr {
  transform: scaleX(1);
  transition: transform 0.6s ease;
  transition-delay: 1.2s;
}
.about__history.is-visible section:nth-child(3),
.skills__content.is-visible section:nth-child(3) {
  transition-delay: 0.3s;
}
.about__history.is-visible section:nth-child(5),
.skills__content.is-visible section:nth-child(5) {
  transition-delay: 0.6s;
}

.skills__tools {
  opacity: 0;
  transform: translateY(70px);
}

.skills__tools.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}

.notes__header > p {
  opacity: 0;
  transform: translateY(200px);
}

.notes__header > p.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}

.notes__content > li {
  opacity: 0;
  transform: translateX(33vw);
}

.notes__content.is-visible > li {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.2s ease, transform 0.8s ease;
}
.notes__content.is-visible > li:nth-child(1) {
  transition-delay: 0.2s;
}
.notes__content.is-visible > li:nth-child(2) {
  transition-delay: 0.3s;
}
.notes__content.is-visible > li:nth-child(3) {
  transition-delay: 0.4s;
}
.notes__content.is-visible > li:nth-child(4) {
  transition-delay: 0.5s;
}
.notes__content.is-visible > li:nth-child(5) {
  transition-delay: 0.6s;
}
.notes__content.is-visible > li:nth-child(6) {
  transition-delay: 0.7s;
}
.notes__content.is-visible > li:nth-child(7) {
  transition-delay: 0.8s;
}

.contact__content .contact__status,
.contact__content .contact__title,
.contact__content .contact__description,
.contact__content hr {
  opacity: 0;
  transform: translateY(120px);
}
.contact__content .contact__email {
  opacity: 0;
  transform: translateY(60px);
}

.contact__content.is-visible .contact__status,
.contact__content.is-visible .contact__title,
.contact__content.is-visible .contact__description,
.contact__content.is-visible hr,
.contact__content.is-visible .contact__email {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}
.contact__content.is-visible .contact__title {
  transition-delay: 0.2s;
}
.contact__content.is-visible .contact__description {
  transition-delay: 0.4s;
}
.contact__content.is-visible hr {
  transition-delay: 0.6s;
}
.contact__content.is-visible .contact__email {
  transition-delay: 0.8s;
}

.project-detail__thumbnail {
  opacity: 0;
  transform: translateX(-400px) translateY(0);
}

.project-detail__info .project-detail__label,
.project-detail__info .project-detail__title,
.project-detail__info .project-detail__meta {
  opacity: 0;
  transform: translateX(400px);
}
.project-detail__info .project-detail__summary p {
  opacity: 0;
  transform: translateY(200px);
}

.project-detail__thumbnail.is-visible {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}

.project-detail__info.is-visible .project-detail__label,
.project-detail__info.is-visible .project-detail__title,
.project-detail__info.is-visible .project-detail__meta {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}
.project-detail__info.is-visible .project-detail__label {
  transition-delay: 0.2s;
}
.project-detail__info.is-visible .project-detail__title {
  transition-delay: 0.3s;
}
.project-detail__info.is-visible .project-detail__meta {
  transition-delay: 0.4s;
}
.project-detail__info.is-visible .project-detail__summary p {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}
.project-detail__info.is-visible .project-detail__summary p:nth-child(1) {
  transition-delay: 0.4s;
}
.project-detail__info.is-visible .project-detail__summary p:nth-child(2) {
  transition-delay: 0.5s;
}
.project-detail__info.is-visible .project-detail__summary p:nth-child(3) {
  transition-delay: 0.6s;
}

@media (max-width: 1440px) {
  .project-detail__thumbnail {
    opacity: 0;
    transform: translateX(0) translateY(200px);
  }
  .project-detail__info .project-detail__label,
  .project-detail__info .project-detail__title,
  .project-detail__info .project-detail__meta {
    opacity: 0;
    transform: translateX(0) translateY(200px);
  }
}
.project-detail__item > img,
.project-detail__summary p {
  opacity: 0;
  transform: translateY(120px);
}

.project-detail__item > img.is-visible,
.project-detail__summary.is-visible > p {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}

.project-detail__summary.is-visible > p:nth-child(2) {
  transition-delay: 0.2s;
}

.project-detail__summary.is-visible > p:nth-child(3) {
  transition-delay: 0.4s;
}

.project-detail__more {
  opacity: 0;
  transform: translateY(120px);
}

.project-detail__more.is-visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1.2s ease, transform 0.6s ease;
}