@use "variables" as *;

body {
  font-family: "SUIT", sans-serif;
}

.header,
.hero,
#about {
  transition: 0.3s;
}

.mobile-br {
  display: none;
}

@media (max-width: $mobile) {
  .mobile-br {
    display: block;
  }
}

.detail-bt {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  gap: 8px;
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: var(--text-btn-link);
  position: relative;
  margin-bottom: 6px;
  &::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }
  &:hover::after {
    transform: scaleX(1);
  }
}

@media (max-width: $tablet) {
  .detail-bt {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 4px;
    img {
      width: 20px;
    }
    &::after {
      bottom: -4px;
    }
  }
}
@media (max-width: $mobile) {
  .detail-bt {
    font-size: 16px;
    line-height: 26px;
    img {
      width: 16px;
    }
  }
}
.inner {
  width: 1360px;
}
