@use "variables" as *;

// ===================================
// 공통
// ===================================
.inner {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1440px) {
  .inner {
    width: calc(100vw - 80px);
    gap: 72px;
  }
}
@media (max-width: $mobile) {
  .inner {
    width: calc(100vw - 64px);
    gap: 60px;
  }
}
@media (max-width: 400px) {
  .inner {
    width: calc(100vw - 48px);
  }
}

.section-title {
  color: var(--text-section-title);
  font-size: 28px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
}

@media (max-width: $tablet) {
  .section-title {
    font-size: 24px;
    line-height: 24px;
  }
}

// ===================================
// hero
// ===================================
.hero {
  width: 100%;
  padding-top: 300px;
  padding-bottom: 80px;
  text-align: center;

  //격자 패턴
  background-color: var(--bg-hero);
  background-image:
    radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px),
    radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px);
  background-size:
    9px 63px,
    63px 9px;
  background-repeat: repeat;
  //격자 패턴

  &__title {
    position: absolute;
  }

  &__visual {
    margin-bottom: 200px;
  }

  &__greeting {
    font-size: 24px;
    line-height: 48px;
    font-weight: 400;
    color: var(--text-hero-p);
    margin-bottom: 100px;
    span {
      display: block;
    }
  }

  &__scroll {
    color: var(--text-hero-scroll-ui);
    height: 56px;
    span {
      display: block;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 10px;
      animation: scrollMove 1s ease-in-out infinite;
    }
  }
}

@keyframes scrollMove {
  0%,
  100% {
    margin-bottom: 10px;
  }

  50% {
    margin-bottom: 16px;
  }
}

@media (max-width: $tablet) {
  .hero {
    padding-top: 240px;
    &__visual {
      margin-bottom: 120px;
      img {
        width: 90vw;
      }
    }
    &__greeting {
      font-size: 22px;
      line-height: 44px;
    }
  }
}
@media (max-width: $mobile) {
  .hero {
    padding-top: 200px;

    &__visual {
      margin-bottom: 80px;
    }
    &__greeting {
      font-size: 18px;
      line-height: 36px;
      margin-bottom: 80px;
    }
    &__scroll {
      height: 44px;
      span {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 8px;
      }
      img {
        width: 16px;
      }
    }
  }

  @keyframes scrollMove {
    0%,
    100% {
      margin-bottom: 8px;
    }

    50% {
      margin-bottom: 12px;
    }
  }
}
@media (max-width: 600px) {
  .hero {
    &__greeting {
      line-height: 28px;
      span {
        margin-bottom: 20px;
      }
    }
    .mobile-br {
      display: block;
    }
  }
}
// ===================================
// about
// ===================================
.about {
  padding: 200px 0;
  background-color: var(--bg-about);
  display: flex;
  justify-content: center;

  .divider {
    width: 100%;
    height: 1px;
    margin: 0;
    border: 0;
    background-color: var(--text-about-divider);
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__headline {
    font-size: 48px;
    line-height: 48px;
    font-weight: 700;
    color: var(--text-about-title);
  }

  &__description {
    font-size: 22px;
    line-height: 48px;
    font-weight: 400;
    color: var(--text-about-body);
  }

  &__history {
    width: 100%;
    padding: 48px;
    border-radius: 13px;
    background-color: var(--bg-text-panel);
    border: 1px solid var(--stroke);
    display: flex;
    flex-direction: column;
    gap: 48px;

    dl {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  &__history-title {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: var(--text-about-sub-title);
    margin-bottom: 24px;
  }
  &__history-item {
    display: flex;
    gap: 24px;
    line-height: 32px;

    dt {
      font-variant-numeric: tabular-nums;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      color: var(--text-about-time);
    }
    strong {
      font-size: 20px;
      font-weight: 600;
      color: var(--text-about-name);
      margin-right: 24px;
    }
    .about__history-note {
      display: inline;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      color: var(--text-about-detail);
    }
    .org {
      color: var(--text-about-org);
      margin-left: 8px;
      &::before {
        content: "";
        width: 1px;
        height: 12px;
        background-color: var(--stroke);
        margin-right: 8px;
        display: inline-block;
      }
    }
  }
}
@media (max-width: $tablet) {
  .about {
    &__content {
      gap: 40px;
    }

    &__headline {
      font-size: 40px;
      line-height: 40px;
    }

    &__description {
      font-size: 20px;
      line-height: 40px;
    }

    &__history {
      padding: 32px;
      gap: 32px;
      dl {
        gap: 8px;
      }
    }
    &__history-title {
      font-size: 22px;
      margin-bottom: 20px;
    }
    &__history-item {
      gap: 20px;
      dt {
        font-size: 16px;
      }
      strong {
        font-size: 19px;
        margin-right: 16px;
      }
    }
  }
}
@media (max-width: $mobile) {
  .about {
    padding: 160px 0;

    .about__history-note {
      display: none;
    }
    .mobile-br {
      display: block;
    }
  }
}
@media (max-width: 625px) {
  .about {
    &__content {
      gap: 24px;
    }
    &__headline {
      font-size: 32px;
      line-height: 48px;
    }
    &__description {
      font-size: 16px;
      line-height: 32px;
    }
    &__history {
      padding: 0;
      gap: 60px;
      border: none;
      background-color: transparent;
      .divider {
        display: none;
      }
      dl {
        gap: 24px;
      }
    }
    &__history-title {
      font-size: 20px;
      margin-bottom: 24px;
    }
    &__history-item {
      flex-direction: column;
      gap: 4px;
      padding: 0 16px;
      border-left: 4px solid var(--text-contact-divider);
      dt {
        font-variant-numeric: normal;
      }
      strong {
        font-size: 18px;
        line-height: 24px;
        display: block;
      }
    }
  }
}
// ===================================
// skills
// ===================================
.skills {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  //격자 패턴
  background-color: var(--bg-skills);
  background-image:
    radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px),
    radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px);
  background-size:
    9px 63px,
    63px 9px;
  background-repeat: repeat;
  //격자 패턴
  &__content {
    width: 100%;
    padding: 48px;
    border-radius: 13px;
    border: 1px solid var(--stroke);
    background-color: var(--bg-text-panel);
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    text-align: center;
    .divider {
      width: 540px;
      height: 1px;
      margin: 0;
      border: 0;
      background-color: var(--stroke);
    }
  }
  &__item {
    dt {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
      font-weight: 600;
      color: var(--text-skills-dt);
      margin-bottom: 32px;
    }
    dd {
      span {
        display: block;
        font-size: 18px;
        line-height: 32px;
        font-weight: 400;
        color: var(--text-skills-dd);
      }
    }
  }
  &__tools {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 31px;
  }
}
@media (max-width: $tablet) {
  .skills {
    &__item {
      dt {
        font-size: 22px;
        line-height: 22px;
        margin-bottom: 28px;
      }
      dd {
        display: flex;
        flex-direction: column;

        span {
          font-size: 17px;
        }
      }
    }
  }
}
@media (max-width: $mobile) {
  .skills {
    padding: 160px 0;
    &__content {
      padding: 32px;
      gap: 32px;
    }
    &__item {
      .mobile-br {
        display: block;
      }
      dd {
        gap: 24px;
      }
    }
    &__tools {
      width: 100%;
      gap: 0;
      justify-content: space-between;
      li {
        flex: 1;
      }
      img {
        width: 28px;
      }
    }
    .divider {
      width: 80%;
    }
  }
}
@media (max-width: 400px) {
  .skills {
    &__content {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      border: none;
    }
    &__item {
      width: 100%;
      text-align-last: left;
      dt {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 24px;
      }
      dd {
        width: 100%;
        gap: 16px;
        span {
          display: block;
          width: 100%;
          padding: 0 16px;
          border-left: 4px solid var(--text-contact-divider);
        }
      }
    }
    &__tools {
      img {
        width: 24px;
      }
    }
    .divider {
      display: none;
    }
  }
}
// ===================================
// projects
// ===================================
.projects {
  padding: 200px 0;
  display: flex;
  justify-content: center;
  //격자 패턴
  background-color: var(--bg-projects);
  background-image:
    linear-gradient(to right, var(--bg-check) 1px, transparent 1px),
    linear-gradient(to bottom, var(--bg-check) 1px, transparent 1px);
  background-size: 16px 16px;
  //격자 패턴

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    width: 100%;
    li {
      flex: 1;
      min-width: 0;
      position: relative;
      isolation: isolate;
      &::before {
        transition: background-color 0.3s;
      }
      &:nth-child(1):hover::before {
        background-color: rgba(#e1ecfa, 0.5);
      }
      &:nth-child(2):hover::before {
        background-color: rgba(#f6ebec, 0.5);
      }
      &:nth-child(3):hover::before {
        background-color: rgba(#e8e9f1, 0.5);
      }
      &:nth-child(4):hover::before {
        background-color: rgba(#e5ebed, 0.5);
      }
    }
    li::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border-radius: 20px;
      margin: -16px;
      display: block;
      z-index: -1;
      pointer-events: none;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      border-radius: 13px;
      border: 1px solid var(--stroke);
      margin-bottom: 24px;
    }
  }
  &__info {
    h3 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 700;
      color: var(--text-projects-title);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 8px;
    }
  }
  &__meta {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--text-projects-category);
    margin-bottom: 12px;
    .duration {
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      color: var(--text-projects-time);
      margin-left: 8px;
      &::before {
        content: "";
        width: 1px;
        height: 12px;
        margin-right: 8px;
        background-color: var(--stroke);
        display: inline-block;
      }
    }
  }
}
[data-theme="dark"] {
  .projects {
    &__content li {
      &:nth-child(1):hover::before {
        background-color: rgba(#e1ecfa, 0.2);
      }
      &:nth-child(2):hover::before {
        background-color: rgba(#f6ebec, 0.2);
      }
      &:nth-child(3):hover::before {
        background-color: rgba(#e8e9f1, 0.2);
      }
      &:nth-child(4):hover::before {
        background-color: rgba(#e5ebed, 0.2);
      }
    }
  }
}
@media (max-width: 1100px) {
  .projects {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 80px;
    }
    &__info {
      h3 {
        font-size: 24px;
        line-height: 28px;
      }
    }
    &__meta {
      font-size: 18px;
      margin-bottom: 8px;
    }
  }
}
@media (max-width: $mobile) {
  .projects {
    padding: 160px 0;
  }
}
@media (max-width: 600px) {
  .projects {
    &__content {
      grid-template-columns: repeat(1, 1fr);
      li::before {
        margin: -12px;
        border-radius: 18px;
      }
      img {
        margin-bottom: 20px;
      }
    }
    &__meta {
      font-size: 16px;
      margin-bottom: 4px;
    }
  }
}
// ===================================
// notes
// ===================================
.notes {
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  .inner {
    flex-direction: row;
    gap: 0;
  }
  &__header {
    background-color: var(--bg-notes-header);
    padding-right: 64px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    justify-content: center;
    color: var(--text-notes-body);
    font-size: 20px;
    line-height: 40px;
    width: 40%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      background-color: var(--bg-notes-header);
      z-index: -1;
    }
  }
  &__content {
    background-color: var(--bg-notes-content);
    padding: 120px 0 120px 64px;
    width: 60%;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100vw;
      background-color: var(--bg-notes-content);
      z-index: -1;
    }
  }
  &__content > li {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    border-bottom: 1px solid var(--stroke);
    time {
      display: block;
      font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--text-notes-time);
    }
    strong {
      display: block;
      font-size: 20px;
      line-height: 32px;
      font-weight: 500;
      color: var(--text-notes-title);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    span {
      font-size: 16px;
      line-height: 28px;
      font-weight: 400;
      color: var(--text-notes-excerpt);
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }
  }
  &__content > li:hover {
    background-color: var(--bg-notes-list-hover);
    time {
      color: var(--text-notes-time-hover);
    }
    strong {
      color: var(--text-notes-title-hover);
    }
    span {
      color: var(--text-notes-excerpt-hover);
    }
  }
}
@media (max-width: 1400px) {
  .notes {
    .inner {
      flex-direction: column;
      width: calc(100vw - 200px);
    }
    &__header {
      padding: 120px 0;
      width: 100%;
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__content {
      padding: 120px 0;
      width: 100%;
      &::before {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__content > li {
      gap: 6px;
      padding: 18px;
    }
  }
}
@media (max-width: $mobile) {
  .notes {
    .inner {
      width: calc(100vw - 80px);
    }
    &__header {
      font-size: 18px;
    }
    &__content > li {
      padding: 12px;
      time {
        font-size: 15px;
        line-height: 24px;
      }
      strong {
        font-size: 18px;
        line-height: 28px;
      }
      span {
        font-size: 15px;
        line-height: 28px;
        -webkit-line-clamp: 1;
        line-clamp: 1;
      }
    }
  }
}
@media (max-width: 400px) {
  .notes {
    .inner {
      width: calc(100vw - 48px);
    }
  }
}
// ===================================
// contact, footer
// ===================================
.contact-area {
  padding: 200px 0 60px 0;
  //격자 패턴
  background-color: var(--bg-hero);
  background-image:
    radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px),
    radial-gradient(circle, var(--bg-dot) 0.5px, transparent 0.5px);
  background-size:
    9px 63px,
    63px 9px;
  background-repeat: repeat;
  //격자 패턴
  display: flex;
  justify-content: center;
  .inner {
    gap: 200px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 80px;
  &__content {
    background-color: var(--bg-contact-card);
    border-radius: 13px;
    border: 1px solid var(--stroke);
    padding: 60px;
    display: flex;
    flex-direction: column;
  }
  &__status {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-contact-status);
    margin-bottom: 24px;
  }
  &__title {
    font-size: 42px;
    line-height: 64px;
    color: var(--text-contact-title);
    margin-bottom: 24px;
  }
  &__description {
    font-size: 20px;
    line-height: 24px;
    color: var(--text-contact-description);
    margin: 0;
    margin-bottom: 36px;
  }
  hr {
    width: 40px;
    height: 3px;
    background-color: var(--text-contact-divider);
    margin: 0;
    margin-bottom: 36px;
    border: 0;
  }
  &__email {
    display: flex;
    gap: 12px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 26px;
    line-height: 40px;
    font-weight: 500;
    color: var(--text-contact-mail);
    align-items: center;
    a:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
  &__copy {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: transparent;
    background-image: url(../images/main/copy.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--text-contact-btn-copy);
    &:hover {
      background-color: var(--text-contact-btn-copy);
      background-image: url(../images/main/copy-hover.svg);
    }
  }
  &__copy-message {
    font-size: 18px;
    line-height: 18px;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bg-notes-list-hover);
    color: var(--text-notes-title-hover);
    &:empty {
      display: none;
    }
  }
}
[data-theme="dark"] {
  .contact__copy {
    background-image: url(../images/main/copy-dark.svg);
    &:hover {
      background-image: url(../images/main/copy-dark-hover.svg);
    }
  }
}
footer {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-footer);
}
@media (max-width: $mobile) {
  .contact {
    gap: 60px;
    &__content {
      padding: 32px;
    }
    &__status {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 26px;
      line-height: 40px;
      margin-bottom: 20px;
    }
    &__description {
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    hr {
      margin-bottom: 36px;
    }
    &__email {
      font-size: 20px;
      line-height: 32px;
      gap: 8px;
    }
    &__copy {
      width: 32px;
      height: 32px;
      background-size: 24px 24px;
      border-radius: 8px;
      flex-wrap: wrap;
    }
    &__copy:hover {
      background-size: 24px 24px;
    }
    &__copy-message {
      font-size: 14px;
      padding: 6px;
    }
  }
}
@media (max-width: 490px) {
  .contact {
    &__content {
      position: relative;
    }
    &__copy-message {
      font-size: 16px;
      padding: 0;
      background-color: transparent;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -40px;
      width: max-content;
    }
  }
}
