:root {
  /* Light Collection */
  --scrollbar: rgba(96, 115, 73, 0.4);
  --bg-hero: #fffef4;
  --bg-dot: #9dbd77;
  --bg-about: #f4f5ea;
  --bg-skills: #fbfaf6;
  --bg-notes-header: #f4f5ea;
  --bg-notes-content: #fbfaf6;
  --bg-notes-list-hover: rgba(244, 245, 234, 0.8);
  --bg-contact-card: #fffff7;
  --text-hero-main-typo: #607349;
  --text-hero-p: #4f4f4f;
  --text-hero-scroll-ui: #707070;
  --text-section-title: #707070;
  --text-about-title: #607349;
  --text-about-body: #1d1d1d;
  --text-about-sub-title: #465738;
  --text-about-time: #4f4f4f;
  --text-about-name: #1d1d1d;
  --text-about-detail: #465738;
  --text-about-org: #4f4f4f;
  --stroke: #d3d3d3;
  --text-skills-dt: #465738;
  --text-skills-dd: #4f4f4f;
  --bg-check: #f3f3f3;
  --text-projects-category: #575757;
  --text-projects-time: #707070;
  --text-projects-title: #3d3d3d;
  --bg-text-panel: rgba(255, 255, 255, 0.3);
  --text-notes-body: #4f4f4f;
  --text-notes-time: #3d3d3d;
  --text-notes-time-hover: #465738;
  --text-notes-title: #3d3d3d;
  --text-notes-title-hover: #465738;
  --text-notes-excerpt: #4f4f4f;
  --text-notes-excerpt-hover: #465738;
  --text-contact-status: #465738;
  --text-contact-title: #4f4f4f;
  --text-contact-description: #707070;
  --text-contact-divider: #c0ceaf;
  --text-contact-mail: #707070;
  --text-contact-mail-hover: #607349;
  --text-footer: #707070;
  --text-btn-link: #3d3d3d;
  --bg-projects: #ffffff;
  --text-contact-btn-copy: #e0e6d3;
  --text-projects-back: #707070;
  --text-projects-back-hover: #3d3d3d;
  --text-gnb-btn: #575757;
  --text-gnb-btn-hover: #1d1d1d;
  --text-gnb-logo: #575757;
  --bg-more-projects: #fdfdfa;
  --bg-more-projects-link-hover: rgba(244, 245, 234, 0.5);
  --text-projects-detail-more-projects-link: #707070;
  --text-projects-detail-more-projects-link-hover: #465738;
  --text-projects-detail-more-projects-title: #465738;
  --bg-header: rgba(255, 255, 255, 0.3);
  --bg-gnb-btn-hover: rgba(221, 221, 221, 0.3);
  --text-projects-detail-title: #1d1d1d;
  --text-projects-detail-eyebrow: #707070;
  --text-projects-detail-body: #4f4f4f;
  --text-about-divider: #d8d8d8;
}

[data-theme="dark"] {
  --scrollbar: rgba(162, 186, 134, 0.5);
  --text-btn-link: #ededed;
  --bg-about: #2b2b2e;
  --text-contact-btn-copy: #3b3e35;
  --text-contact-mail-hover: #c4daa9;
  --text-contact-divider: #767f68;
  --bg-check: #1a1a1c;
  --text-notes-time-hover: #c4daa9;
  --text-projects-detail-more-projects-link-hover: #c4daa9;
  --bg-notes-list-hover: rgba(45, 45, 47, 0.4);
  --text-notes-title-hover: #c4daa9;
  --bg-dot: #3e4832;
  --bg-hero: #222224;
  --text-skills-dt: #c4daa9;
  --text-about-divider: #484848;
  --text-contact-description: #a7a7a7;
  --text-about-org: #c8c8c8;
  --text-hero-scroll-ui: #9d9d9d;
  --text-about-detail: #c4daa9;
  --text-about-body: #fdfdfd;
  --text-projects-detail-body: #d4d4d4;
  --text-footer: #a7a7a7;
  --text-projects-back: #a7a7a7;
  --text-projects-category: #d3d3d3;
  --bg-skills: #1d1d1f;
  --text-projects-detail-more-projects-title: #a2ba86;
  --text-about-time: #c8c8c8;
  --text-contact-title: #c8c8c8;
  --text-contact-status: #c4daa9;
  --text-notes-time: #c8c8c8;
  --text-notes-body: #c8c8c8;
  --text-hero-p: #d4d4d4;
  --bg-gnb-btn-hover: rgba(85, 85, 87, 0.3);
  --text-projects-detail-title: #1d1d1d;
  --text-notes-title: #ededed;
  --text-projects-detail-eyebrow: #a7a7a7;
  --text-about-name: #fdfdfd;
  --text-about-title: #a2ba86;
  --text-hero-main-typo: #a2ba86;
  --text-notes-excerpt: #b9b9b9;
  --text-gnb-btn-hover: #fdfdfd;
  --text-projects-detail-more-projects-link: #a7a7a7;
  --text-gnb-btn: #c6c6c6;
  --text-gnb-logo: #c6c6c6;
  --bg-header: rgba(29, 29, 31, 0.3);
  --text-contact-mail: #a7a7a7;
  --text-projects-back-hover: #ededed;
  --text-section-title: #a7a7a7;
  --bg-notes-header: #2b2b2e;
  --text-skills-dd: #ededed;
  --text-projects-time: #a7a7a7;
  --bg-projects: #131315;
  --text-notes-excerpt-hover: #c4daa9;
  --text-about-sub-title: #c4daa9;
  --bg-text-panel: rgba(29, 29, 31, 0.3);
  --bg-contact-card: #222224;
  --bg-notes-content: #1d1d1f;
  --bg-more-projects-link-hover: rgba(52, 52, 54, 0.5);
  --bg-more-projects: #1a1a1c;
  --text-projects-title: #efefef;
  --stroke: #4d4d4f;
}

$tablet: 1024px;
$mobile: 767px;
